/*GAMEPAGE STYLING*/


* {
  font-family: 'Oswald', sans-serif;
  color: white;
}

/*Sets definite body size*/
body {
/*  background-color: black;*/
  max-width: 1440px;
  max-height: 650px;
  width: 1440px;
  height: 650px;
 
}

/*Sets definite max height entire body and gameboard*/
.height {
  max-height: 650px;
  height: 650px;
}

/*Sets margin for body and gameboard*/
.margin {
	margin: 0 auto;
}


/*Defines gameboard width to be slightly smaller than entire body*/
.gameboard {
  max-width: 1100px;
  width: 1100px;
  background-image: url('../images/backdrop.png');
  background-size: cover;
  background-repeat: no-repeat;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

/*styles header*/
header {
  background: linear-gradient(#093300, #0E4C00);
  width: 100%;
  height: 120px;
  border: 2px solid black;
  box-shadow: 3px 3px 5px #444;

}

.gameName {
	display: inline-block;
  padding: 10px 0 11px 35px;
  font-size: 68px;
  margin: 0;
  text-transform: uppercase;
  font-weight: 900;
  /*text-shadow: 1px 1px 1px #000;*/
  background:-webkit-linear-gradient(#fff, #222);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  color: #fff;
}

#airborne {
  background-image: url('../images/eagle.png');
  max-width: 80px;
  max-height: 120px;
  width: 80px;
  height: 115px;
  background-size: cover; 
  display: inline-block;
  position: absolute;
  top: -1.5%;
  left: 34%;
  z-index: 1;
}

/*Dropdown "Controls" styling*/
.dropdown {
	position: relative;
	display: inline-block;
	float: right;
  padding: 30px 80px 0 0;
  font-size: 28px;
  margin: 0;
  font-weight: 100;
}

/*Styles the contents of dropdown menu*/
.dropdownContent {
  right: 0;
	display: none;
	position: absolute;
	min-width: 160px;
	z-index: 3;
  color: white;
  background-color: black;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 0 5px 10px 20px;
  border: 2px solid gold;
}

.dropdownContent h2 {
  font-size: 20px;
}

.dropdownContent p{
  font-size: 16px;
}

/*Adds hover quality to display dropdown menu*/
.dropdown:hover .dropdownContent {
	display: block;
}

/*Main gameboard styling*/
.gameboard {
	background-color: teal;
	position: relative;
	overflow: hidden;
}

/*Styling for both player divs*/
.players {
  max-width: 60px;
  width: 46px;
  max-height: 100px;
  height: 80px;
  overflow: hidden;
  background-image: url('../images/paratrooper.png');
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 8px;
}

/*placeholder styling for Player One image*/
.playerOne {
  left: 40%;
 /* background-color: pink;*/
}

/*placeholder styling for Player Two image*/
.playerTwo {
	/*background-color: beige;*/
	right: 40%;
}


.rocket {
  max-width: 60px;
  max-height: 80px;
  width: 100%;
  height: 25px;
  background-size: cover;
}
/*styles all rockets*/
.rocketLeft {
  position: absolute;
  display: inline;
  left: -100px;
  background-image: url("../images/rocketRight.png");
}

.rocketRight {
  position: absolute;
  display: inline;
  right: -100px;
  background-image: url("../images/rocketLeft.png");
}

.messageBoard {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 40%;
  width: 200px;
  height: 100px;
  padding: 20px;
  background-color: red;
  border: 2px solid black;
}